* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Navbar Style Start */

.nav-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 140px;

}

.game-logo-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.game-logo-container img {

    height: 40px;
    width: 80px;
}

.game-title {

    color: #0B0223;
    font-size: 42px;
    font-weight: 700;
}

.game-title-g {

    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu ul {

    display: flex;
    list-style: none;
    align-items: center;
    gap: 25px;
    color: #3C354F;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.nav-button {

    color: #3C354F;
    font-size: 22px;
    border-radius: 10px;
    background: rgba(11, 2, 35, 0.10);
    width: 295px;
    height: 56px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.fa-youtube {

    color: #FD3E3E;
    margin-left: 18px;
    margin-right: 18px;
}

.fa-tiktok {

    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);

}

/* Navbar Style Finish */



/* First Banner Style Start */


.first-section-container {

    display: flex;
    margin-bottom: 100px;

}

.first-section-left-side {

    background-image: url("./images/Group\ 14.png");
    width: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.first-section-left-side .first-section-first-heading {

    color: #0B0223;
    font-size: 48px;
    text-transform: uppercase;

}

.first-section-left-side .first-section-second-heading {


    font-size: 95px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 75px;
    margin-top: 24px;
    margin-bottom: 35px;

}

.first-section-left-side .fisrt-section-paragraph {

    color: #534C64;
    font-size: 20px;
    margin-bottom: 20px;
}

.first-section-left-side .sign-in-btn {


    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    gap: 10px;
    border: none;
    margin-right: 24px;
    cursor: pointer;

}

.first-section-left-side .go-rogue-btn {

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    cursor: pointer;
}

.first-banner-image-right-side {

    width: 50%;

}

/* First Banner Style End */


/* Second Section Style Start */

.second-section-container {

    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    max-width: 1440px;
    margin: 0 auto;

}

.second-section-image-left-side {

    width: 100%;

}

.second-section-image-left-side img {

    width: 100%;

}

.text-second-section-right-side {

    width: 100%;
}

.text-second-section-right-side .second-section-heading {

    text-align: right;
    font-size: 48px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;

}

.text-second-section-right-side .second-section-paragraph {

    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;

}

.text-second-section-right-side .know-more-btn {

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 25px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(#FF42A5, #FF42A5);
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
    margin-left: 540px;
}

.second-section-paragraph-purpose {

    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.second-section-span {

    color: #534C64;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* Second Section Style End */




/* Third Section Style Start */

.online-info {

    text-align: center;
    margin-top: 70px;
}

.online-games-heading {

    color: #0B0223;
    font-size: 48px;
    margin-bottom: 20px;

}

.online-games-paragraph {

    color: #534C64;
    text-align: center;
    font-size: 18px;
    margin-bottom: 48px;
}

.funny-online-games-heading {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    margin-bottom: 15px;

}

.box-container {

    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 100px;
}

.box{

    cursor: pointer;
}

.box-for-bonus-mark{

    position: relative;
    text-align: center;   
    
}

.watching-logo{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.watch-now {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.box img:hover {

    filter: grayscale(100%);
    border-radius: 50px;
    border-radius: 3px solid red;
}

/* Third Section Style End */


/* Forth Section Style Start */

.play-instantly-container{

    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    max-width: 1440px;
    margin: 0 auto;
}


.play-instantly-text {

    width: 100%;
    margin-top: 100px;
    

}

.play-instantly-heading {

    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 20px;
}

.play-instantly-span {

    text-align: right;
    font-size: 48px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-paragraph {

    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play-instantly-image{

    width: 635px;
    height: 635px;
    width: 100%;
    position: relative;

}

.inside-image {

    width: 318px;
    height: 365px;
    position: absolute;
    bottom: -90px;
    left:-100px;
}

/* Forth Section Style End */



/* Fifth Section Style Start */

.last-section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 240px;
}

.first-row {

    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.second-row {

    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.box1 {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;

}

.box1:hover {

    background-color: tomato;
    border-radius: 20px;
    cursor: pointer;
}


.box1-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #FF42A5;
    border-radius: 50px;
    padding: 12px 25px;
    background:#FF42A5;
    gap: 12px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 20px;
}

.box1-border:hover{

    background-color: rgb(57, 236, 60);
    cursor: pointer;

}

/* Fifth Section Style End */



/* Footer Style Start */

.footer-container {

    background: #0B0223;
    width: auto;
    height: 636px;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 120px;
}

.game-title-footer {

    justify-content: center;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.footer-menus ul {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.footer-menus li {

    list-style: none;
}

.footer-menus li a {

    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.footer-social-media {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 45px;
    gap: 40px;
}

.footer-tearms {


    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 45px;
    gap: 35px;
}

.copyright {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 45px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
}

/* Footer Style End */





/* This Is Responsive Style For Mobile ( For Bonus Mark ) */

@media screen and (max-width:576px) {

    /* Responsive Navbar Start */

    .nav-container {

        flex-direction: column;
        justify-content: center;
        height: auto;
        box-shadow: none;
        padding: 25px 0;
    }

    .game-logo-container{

        margin-bottom: 25px;
    }


    .nav-menu ul {

        flex-direction: column;
    }

    /* Responsive Navbar End */


    /* Responsive First Banner Section Start */

    .first-section-container {


        flex-direction: column;
    }

    .first-section-left-side {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        margin: 0 auto;
    }

    .first-banner-image-right-side img {

        width: 400px;
        margin: 0 auto;
    }

    /* Responsive First Banner Section End */


    /* Responsive Second Section Start  */

    .second-section-container {

        flex-direction: column;
    }

    .text-second-section-right-side .second-section-heading {

        text-align: center;
    }

    .text-second-section-right-side .second-section-paragraph {

        text-align: center;
        font-size: 14px;
        line-height: 1.6rem;
    }

    .text-second-section-right-side .know-more-btn {

        margin: 25px 110px;    
    }

    .text-second-section-right-side .second-section-paragraph-purpose{

        text-align: center;
    }

    .text-second-section-right-side .second-section-span{

        text-align: center;
        font-size: 20px;
    }

    /*   Responsive Second Section End */


     /* Responsive Third Section Start  */

     .box-container{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
     }

     .online-games-heading {

        font-size: 28px;
     }

     .funny-online-games-heading{

        font-size: 28px;
     }

     .online-games-paragraph{

        font-size: 14px;
     }

     .box p{

        text-align: center;
     }

      /* Responsive Third Section End  */


      /* Responsive Forth Section Start */


      .play-instantly-container{

        flex-direction: column;

      }

      .play-instantly-text{

        margin-bottom: 25px;
        
      }

      .play-instantly-image{

        position: relative;
    
      }

      .play-instantly-image img{

        width: 280px;

      }

      .inside-image img{

        width: 140px;
        position: absolute;
        right:70px;
        bottom: 400px;
      }

      /* Responsive Forth Section End */


      /* Responsive Fifth Section Start */


      .last-section-container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -210px;
      }

      .first-row{

        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .second-row{

        flex-direction: column;
        justify-content: center;
        align-items: center;

      }

      /* Responsive Fifth Section Start */

      /* Responsive Footer Section Start */


    .game-title-footer{

        font-size: 35px;
    }

    .footer-menus ul{

        gap: 10px;
        
    }

    .footer-menus li a{

        font-size: 12px;
    }

    .footer-tearms{

        justify-content: center;
        font-size: 10px;
        gap: 20px;
    }

    .copyright{

        font-size: 12px;
    }

    /* Responsive Footer Section End */

     /* 1 - Career Section Is Optional That's Why I didn't Do. ( As Per Instructor Instruction - Gias Uddin Brother )
        2 - We Are Gamer Section Is Optional That's Why I didn't Do. ( As Per Instructor Instruction - Gias Uddin Brother )
     
     */

    /* May Allah Bless My Examiner */
}